{% extends 'starter.html' %}
{% block title %}
        Home
    {% endblock title %}
{% block block %}
          

    <!-- <h1>Hello, world!</h1> -->
    

    <div class="container mt-3">
      <form action="/" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="todo"
            name="title"
            aria-describedby="emailHelp"
            placeholder="ENTER YOUR ITEM"
          />
        </div>
        <div class="form-group">
          <textarea
            col="12"
            row="19"
            name="description"
            style="height: 130px"
            type="text"
            class="form-control"
            id="desc"
            placeholder="ENTER YOUR DESCRIPTION"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
    </div>

    <div class="container mt-4 table-responsive">
      <h3 class="mb-3">TODO LIST ✔</h3>
      <!-- <table class="table table-hover table-bordered">
        
      </table> -->

      {% if alltodo|length==0 %}
      <div class="alert alert-warning" role="alert">
        Sorry !! No items are available 😕 Enter your first Todo item
      </div>
      {% else %}

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Sno</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col" class="text-center">Operations</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in alltodo %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.date_created}}</td>
            <td class="d-flex">
              <a href="/update/{{todo.sno}}">
                <button
                  type="button"
                  class="btn btn-outline-success btn-sm mx-2"
                >
                  Update
                </button>
              </a>
              <a href="/delete/{{todo.sno}}">
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm mx-2"
                >
                  Delete
                </button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
{% endblock block %}